name: Manual event trigger
on:
  push:
    branches: [main]
  # run the workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      greeting_name:
        description: 'Who to greet'
        required: true
        default: 'Student'
      goodbye_name:
          description: 'Who to say goodbye to'
          required: true
          default: 'Student'

jobs:
  logic-test:
    runs-on: ubuntu-latest
    # Setting an environment variable for the whole job
    env:
      COURSE_NAME: "Figuring out GH actions"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print Context Details
        run: |
          echo "Actor: ${{ github.actor }}"
          echo "Event: ${{ github.event_name }}"
          echo "Course: $COURSE_NAME"

      - name: Manual Greeting
        #runs if you triggered it manually via the button
        if: github.event_name == 'workflow_dispatch'
        run: echo "Hello ${{ github.event.inputs.greeting_name }}, this ran manually"

      - name: Push Greeting
        # only runs if the event was a code push
        if: github.event_name == 'push'
        run: echo "This ran because you pushed code to main."

      - name: Manual Goodbye
        #runs if you triggered it manually via the button
        if: github.event_name == 'workflow_dispatch'
        run: echo "Goodbye ${{ github.event.inputs.goodbye_name }}, this ran manually"
